<footer class="page-footer">
  <h2 class="contact-wrapper">
    <a class="contact" href="http://codepen.io/AdilSoubki/"><span class="fa fa-codepen"></span></a>
    <a class="contact" href="https://github.com/Soubkia"><span class="fa fa-github-alt"></span></a>
    <a class="contact" href="https://twitter.com/AdilSoubki"><span class="fa fa-twitter"></span></a> |
    <a class="contact"href="mailto:soubkia@gmail.com"><span class="fa fa-envelope-o"></span></a>
    <a class="contact" href="blog.html"><span class="fa fa-rocket"></span></a>
    <a class="contact" href="resume.html"><span class="fa fa-file-o"></span></a>
  </h2>
  <p class="summary">This site was made with the help of a <a href="#">codepen</a>. Credit for the design goes to the original author.</p>
</footer>